<section ng-controller="NavBarController as nbCtrl" class="panel">
  <ul class="nav nav-pills">
    <li ng-class="{active: panel.isSelected("Search")}">
      <a href ng-click="panel.selectTab("Search")">Search</a>
    </li>  
    <li ng-class="{active: panel.isSelected("Results")}">
      <a href ng-click="panel.selectTab("Results")">Results</a>
    </li>
    <li ng-class="{active: panel.isSelected("About")}">
      <a href ng-click="panel.selectTab("About")">About</a>
    </li>
    <li ng-class="{active: panel.isSelected("Sign-in")}">
      <a href ng-click="panel.selectTab("Sign-in")">Sign-in</a>
    </li>
    <li ng-class="{active: panel.isSelected("Login")}">
      <a href ng-click="panel.selectTab("Login")">Login</a>
    </li>  
  </ul>
  {{tab}}
</section>
